nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  height: 45px;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
  transition: top 0.3s;
}

a {
  height: 41px;
  font-size: 15px;
  padding: 0 10px 0 10px;
  line-height: 41px;
  border-bottom: 2px solid transparent;
  margin: 0 8px -2px 8px;
  transition: border 0.5s linear;
  &:hover {
    color: brown;
  }
}
.sidenav {
  height: calc(100% - 45px);
  width: 280px;
  top: 45px;
  position: fixed;
  background-color: rgb(250, 250, 250);
  transition: all 0.2s linear;
  overflow-x: hidden;
}
.mobile {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  z-index: 2;
  top: 0;
  height: 100%;
}
.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}
.pr {
  padding-top: 45px;
  transition: margin-left 0.2s linear;
}
.active {
  border-bottom-color: blueviolet;
}
.mat-form-field {
  width: 30vw;
  transition: width 0.3s;
}
.sepline {
  width: 8px;
  height: 28px;
  border-right: 2px solid black;
}
.mat-progress-bar {
  position: fixed;
  z-index: 3;
  height: 2.5px !important;
}
.mat-menu-trigger {
  margin-left: 6px;
}
.logo {
  font-size: 20px;
  color: mediumvioletred;
  font-family: "Times New Roman", Times, serif;
  font-feature-settings: "ss00";
}
