<mat-progress-bar
  mode="indeterminate"
  color="warn"
  *ngIf="isRouting"
></mat-progress-bar>
<nav
  class="mat-elevation-z3"
  [style.top]="(layout.trans$ | async) ? '-50px' : '0'"
>
  <button mat-icon-button (click)="layout.opened = !layout.opened">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-container *ngIf="!layout.isMobile; else mobile">
    <a routerLink="" class="logo">CampX</a>
    <span class="spacer"></span>
    <a
      *ngFor="let nav of navs"
      [routerLink]="nav.link"
      routerLinkActive="active"
      matRipple
      >{{ nav.name }}</a
    >
  </ng-container>
  <span class="spacer"></span>
  <button
    mat-icon-button
    (click)="sinput.focus()"
    [style.color]="layout.params?.search ? 'magenta' : 'black'"
  >
    <mat-icon>search</mat-icon>
  </button>
  <mat-form-field
    floatLabel="never"
    [style.width]="sinput.focused ? '35vw' : '0'"
  >
    <input
      matInput
      placeholder="搜索"
      #sinput="matInput"
      [attr.value]="layout.params?.search"
      (focus)="$event.target.select()"
      (keyup.enter)="search($event.target)"
    />
  </mat-form-field>
</nav>
<div
  *ngIf="layout.isMobile && layout.opened"
  class="overlay"
  (click)="layout.opened = false"
></div>
<div
  class="sidenav"
  [class.mobile]="layout.isMobile"
  [style.left]="layout.opened ? '0' : '-285px'"
  [style.top]="!layout.isMobile && (layout.trans$ | async) ? '0' : ''"
  [style.height]="!layout.isMobile && (layout.trans$ | async) ? '100%' : ''"
>
  <div [@slideInAnimation]="so.isActivated ? so.activatedRoute : ''">
    <router-outlet name="sidenav" #so="outlet"></router-outlet>
  </div>
</div>
<div
  [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
  class="pr"
  [style.margin-left]="!layout.isMobile && layout.opened ? '280px' : '0'"
>
  <router-outlet #o="outlet"></router-outlet>
</div>

<ng-template #mobile>
  <span class="spacer"></span>
  <span style="color:mediumvioletred">CampX</span>
  <span class="sepline"></span>
  <span [matMenuTriggerFor]="navMenu" style="color: brown;">{{
    loc?.name
  }}</span>
  <mat-menu #navMenu="matMenu">
    <button mat-menu-item *ngFor="let nav of navs" [routerLink]="nav.link">
      {{ nav.name }}
    </button>
  </mat-menu>
</ng-template>
