.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  > div {
    margin: 0 16px 0 16px;
  }
}
.mat-nav-list {
  padding-bottom: 8px;
  border-bottom: 1px gray solid;
}
.footer {
  padding-top: 28px;
  font-size: 13px;
  color: gray;
  display: flex;
  justify-content: space-around;
}
