form {
  padding: 10px;
  margin: auto;
  max-width: 800px;
}
.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
.action {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
